.type-title {
	position: relative;
	margin-top: 2rem;
	display: block;
	overflow: visible;
	box-sizing: border-box;
	margin-bottom: 4rem;
}

.style-2 {
	margin-bottom: 1rem;
}
.type-title h2{
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: bold;
}

.type-title a {
	display: block;
	text-decoration: none;
	color: #00a2c7;
	position: absolute;
	right: 0px;
	top: 0px;
}

@media only screen and (max-width: 640px) {
	.type-title {
		height: 100px;
		margin-bottom: 10px;
	}
	.style-2 {	
		height: 100%;
		display: inline-block;
		margin: 20px 0px 10px 0px;
	}
	.type-title a {
		display: block;
		text-align: center;
		border: 1px solid  #00a2c7;
		top: 50%;
		width: 99.6%;
		height: 30px;
		transition: background-color 0.3s;
		border-radius: 4px;
		padding-top: 10px;
		margin-top: 16px
	}

	.type-title a:hover {
		background-color: #f2f2f2;
	}
}