.get-app {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20rem;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}


.get-app .important {
	margin-right: auto;	
}

.phone-app-image {
	width: 10rem;
	height: 3rem;
	padding-right: 1rem;
}

.phone-image {
	width: 227.44px;
	height: 100%;
}

.learn-more {
	font-weight: 400;
	text-decoration: none;
	color: #00a2c7;
	font-size: 1rem;
	display: block;
	padding-top: 0.25rem; 
	margin-bottom: 2.5rem;
}

.learn-more .fa-arrow-right {
	padding-left: 1rem;
}

@media only screen and (max-width: 830px) {
	.get-app {
		width: 97.6%;
		margin: auto;
	}
}

@media only screen and (max-width: 640px) {
	.get-app {
		flex-flow: column;
		height: auto;
	}

	.get-app .important {
		text-align: center;
	}

	.get-app .google-appstore {
		width: 80%;
		margin: auto;
	}

	.get-app .phone-app-image {
		width: 40%;
	} 
}