.container-how-work {
	font-family: 'Roboto', sans-serif;
	height: 367px;
	background-color: #212121;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}



.big-title {
	flex-basis: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px
}

.how-meetup-work {
	padding-left: 10px;
	padding-bottom: 20px;
	flex-basis: 500px;
	margin-left: -10px;
}

.fix-icon {
	color: #00a2c7;
	height: 10rem;
	float: left;
	padding-right: 1rem;
}

.right-float .title {
	display: inline;
}

.right-float .infor {
	font-size: 1rem;
	color: white;
	margin-bottom: 1.25rem;
	margin-top: 0.3rem;
}

.large-white-text {
	color: #f3f3f3;
	font-size: 2rem;
	font-weight: bold;
} 

.right-float .goto {
	color: #00a2c7;
	text-decoration: none;
}

.goto .text {
	padding-right: 1rem;
}
@media only screen and (max-width: 960px) {
	.how-meetup-work {
		padding-bottom: 0px;
	}
	.container-how-work {
		height: 400px;
	}
	.big-title {
		margin-top: 36px;
	}
}