.title-component {
	font-family: 'Roboto', sans-serif;
	color: #585858;
	display: /*inline-*/flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #efefef;
	padding-bottom: 1rem;
	padding-top: 2rem;
}

.title-component .title{
	background-color: #f8f8f8;
	flex-basis: max-content;
	border: 1px solid #c5c4c4;
	padding: 0.15rem 0.3rem;
	border-radius: 0.25rem;
	margin: 0rem 0.6rem 1rem 0rem;
}
